/* src/components/Sidebar/Sidebar.css */
.sidebar {
  width: 250px;         
  background-color: #000875; 
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;          /* Altura total da tela */
  padding: 10px;
  box-sizing: border-box;
  flex-shrink: 0;         /* Impede o menu de encolher */
}

.sidebar-logo h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1; /* Ocupa o espaço disponível para empurrar o footer p/ baixo */
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu a {
  display: block;
  color: #aeb2b8;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s;
}

.sidebar-menu a:hover {
  background-color: #252542;
  color: #fff;
  transform: translateX(5px);
}

/* Estilo do link ativo (página atual) */
.sidebar-menu a.active {
  background-color: #007bff; /* Azul destaque */
  color: white;
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.sidebar-footer {
  border-top: 1px solid #333;
  padding-top: 20px;
}

.btn-logout {
  width: 100%;
  padding: 10px;
  /* MUDANÇA AQUI: Cor de fundo vermelha fixa */
  background-color: #ff0000; 
  /* Cor do texto em branco para dar contraste */
  color: white; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn-logout:hover {
  /* No hover, podemos deixar um vermelho um pouco mais escuro */
  background-color: #c53030; 
  transform: scale(1.02); /* Pequeno efeito de zoom */
}